@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

div.jumbotron{
	background: linear-gradient(35deg, #99ffff, #b3ffff, #ccffff);
	color: #222;
	padding: 100px 25px;
}

div.container-fluid{
	padding: 60px 50px;
}
.container-fluid-bg-grey{
	background-color: #b2b2b2;
}
.logo{
	font-size: 200px;
}
@media screen and (max-width: 768px) {
	div.col-sm-4{
		text-align: center;
        margin: 25px 0;
	}
}
.logo-small{
	color: #80ffff;
	font-size: 50px;
}
 .logo{
	color: #80ffff;
	font-size: 200px;
}
.thumbnail{
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 5px;
}
.thumbnail img{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

nav.navbar {
  margin-bottom: 0;
  background: linear-gradient(35deg, #99ffff, #b3ffff, #ccffff);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #222 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #80ffff !important;
  background-color: #222 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #222 !important;
}
input[type="text"], input[type="email"], textarea.form-control, button{
	box-shadow: 0 0 5px;
}
